
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487830738234'); /* IE9*/
  src: url('iconfont.eot?t=1487830738234#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487830738234') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487830738234') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487830738234#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuanqia:before { content: "\e600"; }

.icon-home:before { content: "\e642"; }

.icon-department:before { content: "\e645"; }

.icon-time:before { content: "\e646"; }

.icon-edit:before { content: "\e648"; }

.icon-back:before { content: "\e649"; }

.icon-forward:before { content: "\e64a"; }

.icon-person:before { content: "\e64e"; }

.icon-information:before { content: "\e650"; }

.icon-download:before { content: "\e651"; }

.icon-upload:before { content: "\e652"; }

.icon-location:before { content: "\e653"; }

.icon-share:before { content: "\e654"; }

.icon-picture:before { content: "\e655"; }

.icon-correct:before { content: "\e65a"; }

.icon-fault:before { content: "\e65b"; }

.icon-refresh:before { content: "\e665"; }

.icon-link:before { content: "\e66a"; }

.icon-focus:before { content: "\e66d"; }

.icon-focusactive:before { content: "\e670"; }

.icon-menu:before { content: "\e672"; }

.icon-lock:before { content: "\e678"; }

.icon-sign:before { content: "\e67b"; }

.icon-export:before { content: "\e67f"; }

.icon-attention:before { content: "\e682"; }

.icon-ban:before { content: "\e683"; }

.icon-security:before { content: "\e684"; }

.icon-payment:before { content: "\e689"; }

.icon-mail:before { content: "\e68b"; }

.icon-reduce:before { content: "\e69e"; }

.icon-increase:before { content: "\e69f"; }

.icon-search:before { content: "\e6a0"; }

.icon-hotel:before { content: "\e6a3"; }

.icon-exit:before { content: "\e6a5"; }

.icon-file:before { content: "\e6a8"; }

.icon-folder:before { content: "\e6a9"; }

.icon-set:before { content: "\e6aa"; }

.icon-phone:before { content: "\e6ad"; }

.icon-date:before { content: "\e6ae"; }

.icon-microphone:before { content: "\e6af"; }

.icon-car:before { content: "\e6b0"; }

.icon-plane:before { content: "\e6b2"; }

.icon-delete:before { content: "\e6b4"; }

.icon-arrowup:before { content: "\e6b5"; }

.icon-arrowdown:before { content: "\e6b6"; }

.icon-check:before { content: "\e6b8"; }

.icon-camera:before { content: "\e6ba"; }

.icon-add:before { content: "\e6bd"; }

.icon-uploadthecloud:before { content: "\e6be"; }

.icon-myaccount:before { content: "\e6bf"; }

.icon-myschedule:before { content: "\e6c0"; }

.icon-customerservice:before { content: "\e6ca"; }

.icon-expenses:before { content: "\e6cb"; }

.icon-addressbook:before { content: "\e6cc"; }

.icon-switch:before { content: "\e6cd"; }

.icon-add2:before { content: "\e6ce"; }

.icon-addpeople:before { content: "\e6cf"; }

.icon-voice:before { content: "\e6d0"; }

.icon-else:before { content: "\e6d1"; }

.icon-uncommitted:before { content: "\e6d3"; }

.icon-pass:before { content: "\e6d4"; }

.icon-delete1:before { content: "\e6d6"; }

.icon-editor:before { content: "\e6d7"; }

.icon-huiyuanqia1:before { content: "\e63a"; }

.icon-wodehuiyuanqia:before { content: "\e622"; }

.icon-icon-test:before { content: "\e60b"; }

.icon-icon-test1:before { content: "\e60c"; }

.icon-icon-test2:before { content: "\e60d"; }

.icon-icon-test3:before { content: "\e60e"; }

.icon-icon-test4:before { content: "\e60f"; }

.icon-icon-test5:before { content: "\e610"; }

.icon-icon-test6:before { content: "\e611"; }

.icon-icon-test7:before { content: "\e612"; }

.icon-icon-test8:before { content: "\e613"; }

.icon-icon-test9:before { content: "\e614"; }

.icon-icon-test10:before { content: "\e615"; }

.icon-icon-test11:before { content: "\e616"; }

.icon-icon-test12:before { content: "\e617"; }

.icon-icon-test13:before { content: "\e618"; }

.icon-icon-test14:before { content: "\e619"; }

.icon-icon-test15:before { content: "\e61a"; }

.icon-icon-test16:before { content: "\e61b"; }

.icon-icon-test17:before { content: "\e61c"; }

.icon-icon-test18:before { content: "\e61d"; }

.icon-icon-test19:before { content: "\e61e"; }

.icon-icon-test20:before { content: "\e61f"; }

