<extend name="Sys:base" />
<block name="main">
<style type="text/css">
.checkbox-inline{padding: 10px }
</style>
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
      <li><a href="{:U('Sys/accesslist')}">权限列表</a></li>
      <li class="active"><a href="{:U('Sys/group')}">管理组</a></li>
      <li class="pull-left header" style="font-size: 15px;"><i class="fa fa-th"></i> {$title}</li>
    </ul>
    <div class="tab-content">
      <form role="form" id='form' action="{:U('Sys/GroupAdd')}" method="POST">
    <div class="tab-pane active">
      <input type="hidden" name="id" value="{$info.id}">
      <div class='form-group'>
          <label>管理组名称：</label>
          <input type='title' class='form-control' name='title' value="{$info.title}">
        </div>
      <div class='form-group'>
       <label>组权限选择：</label>
      </div>
      <div class='form-group' style='padding-left: 15px;'>
         <volist name="list" id="vo">
         <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox{$vo.id}" name="rule{$vo.id}" value="{$vo.id}">   {$vo.title}
          </label>
          </volist>
      </div> 
    </div><!-- /.tab-pane -->
    <div class="clearfix box-footer">
      <a href="{:U('Sys/group')}" class='btn btn-default pull-left'>返回</a>
      <button type="submit" class="btn btn-success pull-right">确认</button>
    </div>
    </form>
    </div><!-- /.tab-content -->
</div>
<script type="text/javascript">
<if condition="$json neq ''">
var json = {$json};
$(function(){
    for (var i = 0; i < json.length; i++) {
      $("#inlineCheckbox"+json[i]).prop("checked",true);
    };
})
</if>
</script>
</block>